{{ define "main" }}
  <article>
    <h1>{{ .Title }}</h1>
    <p>{{ .Site.Params.description | default "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vehicula turpis sit amet elit pretium." }}</p>

    {{ printf "%s%s%s" "tagpics/" .Title ".png" }}

    {{ if (fileExists (printf "%s%s%s" "static/tagpics/" .Title ".png")) -}}
    <img src="tagpics/{{ .Title }}.png" />
    {{- end }}
    <ul class="posts-list">
      {{ range $index, $element := .Paginator.Pages }}
        <li class="posts-list-item">
          <a class="posts-list-item-title" href="{{ .Permalink }}">{{ .Title }}</a>
          <span class="posts-list-item-description">
            {{ partial "icon.html" (dict "ctx" $ "name" "clock") }} {{ .ReadingTime }} min read -
            {{ .PublishDate.Format "Jan 2, 2006" }}
          </span>
        </li>
      {{ end }}
    </ul>
    {{ partial "pagination.html" $ }}
  </article>
{{ end }}
