* {
  box-sizing: border-box;
}

html {
  line-height: 1.6;
}

body {
  margin: 0;
  font-family: sans-serif;
  /*background: $dark-color url($darkwall) repeat;*/
  background: $dark-color url($arches) repeat;
  color: $light-color;
}

article img {
    opacity:0.6;
    max-height: 20em;
    max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: $lightest-color;
  /*text-shadow: 2px 2px 4px #000000;*/
}

span.underline {
  text-decoration: underline;
}

a {
  color: $primary-color;
  transition: color 0.35s;
  text-decoration: none;

  &:hover {
    color: $lightest-color;
  }
}

table {
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 40px 0;
}

th {
background: $darkest-color url($fabric-dark) repeat;
font-style:italic;
}

table,
th,
td {
    border: 0.2em solid $darkest-color;
    padding: 10px;
}

th {
    color: var(--accent);
}

// Browsers seem to use a smaller default font-size with monospaced code
// blocks (like 80% of the size of normal text) and that looks pretty bad with
// small inline code-blocks in the middle of normal text (mainly because of
// the very noticeable difference in x-height). This CSS corrects that problem.
code {
    font-family: monospace,monospace;
    font-size: 1em;
    color: rgba($light-color, .8);

    /*background:red;*/
}

.org-src-container > pre, div.highlight > pre > code {
    min-width:50em;
    display:inline-block;
}

code.language-text {
    display:inline-block;
    /*border: 1px solid red;*/
    max-width: 30em;
    max-height: 35em;
    min-width:0;
    overflow:auto;
}

.MathJax_Display .MathJax .math {
    background: #181818 url($fabric-dark) !important;
    box-shadow: 0.2em 0.2em black;
    padding: 1em 1.5em;
    }

pre {
    display:inline-block;
    max-width:100%;
    max-height: 50em;
    background: #181818 url($fabric-dark) !important;
    /*border-top: 0.1em solid #334455 !important;
    border-left: 0.1em solid #334455 !important;
    border-bottom: 0.1em solid #334455 !important;
    border-right: 0.1em solid #334455 !important;*/
    border:0px !important;
    box-shadow: 0.2em 0.2em black;
  // A larger monospaced block of text (that isn't mixed with normal text)
  // generally looks heavier than normal text with the same font size. For this
  // reason using a smaller monospaced font size makes sense in this situation.
  padding: 0.2em;
  line-height: 1.6em;
  font-size: .7em;
  code {

  }
  overflow: auto;
  /* overflow-x:hidden;*/
  scrollbar-color: #220000 #440000;
}

dl {
    padding: 0.8em;
    padding-right:2em;
    border: 0.1em dashed #383838;
    background: url($binding-light);
    background: $dark-color ;

    /*max-width: 50%;*/
    /*margin-right: 5%;*/
    /*float: right;*/
}

dt {
    font-size: 0.9em;
    font-style: italic;
    color: #777;
    font-weight:bold;
}

dd {
    color: #666;
}

dd a {
    display:inline-block;
    text-decoration:underline;

}

p,dd,dt,h1,h2,h3,h4,h5,th,td {
    code {
        color: $standout-color;
        /* text-shadow: 0.1em 0.0em 0.5em #666666; */
    }
}
article h1,h2,h3,h4,h5 {
    margin-left:0em;
    opacity:0.7;
}

article h1, header.post-header h1 {
    opacity: 0.7;
    text-decoration:underline;
    font-style:italic;
    /* vermillion */
    color:#E34234;
    /*font-weight:normal;*/
    font-family:serif;
    text-align:center;
}

ul {
    /* list-style: none; */
}

li::first-line {
    /* color: #499; */
    /* This may be good for articles but it messes up the lists of articles */
    /* font-weight: bold;*/
    /* font-style: italic; */
}

/* li.posts-list-item::first-line {
    font-weight: bold;
}*/

a.page-link {
    color: $primary-color;
}

a.page-link:visited {
    color: $primary-color;
}

dd {
    font-size: 0.8em;
    padding-top: 0.8em;
}

dd + dt {
    padding-top: 1em;
}

hr {
    margin: 2em;
    border: 3px dashed #fff;
    opacity: 0.1;
}

tbody {
    font-size: 0.8em;
}

::selection {
  background: rgba($light-color, .25);
}
::-moz-selection {
  background: rgba($light-color, .25);
}